body{
    background-color: #fbfbfb;
    font-family: sans-serif;
   
}

#container{
    opacity: 1;
}
    

.container{
    margin: 0 auto;
    width: 80%;
    top:40px;
    display:flex;
    flex-direction: column;
    justify-items: center;
    
    

}

.header{
   
    height:150px;
    display: flex;
    justify-content: space-between;

}

.header__logo{
    height:150px;
    
}

.nav{
    

}

.nav__container{
    display: flex;
    padding:20px;
    

}

.nav__element{
    padding: 20px;


}

.nav__element:hover{
    cursor: pointer;
}

.main{
    
}

.main__h1{
    letter-spacing: 0;
    color: #1a1a1a;
    font-weight:700;
    font-size: 6rem;
    text-transform: uppercase;
    margin-top:40px;
}

.section{
    display:flex;
    margin-top:120px;
    filter:grayscale(100%);
    transition: 0.6s;
    

   
}

.section:hover{
    filter:grayscale(0%);
}

.section__text{
    width:50%;
    background: #fff;
    box-shadow: 0 15px 30px -10px rgb(0 0 0 / 10%);
    padding: 52px 0 62px 60px;
    z-index:10;
    
}



.section__text-title{
    font-weight:400;
    font-size:2rem;
    color: #1a1a1a;
    letter-spacing:0;
    line-height: 4.8rem;
    margin:0.5em 0;
}

.section__text-paragraph{
    max-width: 450px;
    font-weight: 400;
    font-size: 1.1rem;
    color: #1a1a1a;
    letter-spacing: 0;
    line-height: 2.4rem;
    
}

.section__img{
   
    
}

.divider{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 121px auto;
    line-height: 1.7em;
}

.divider__title{
   
    font-weight: bold;
    font-size: 1.5rem;
    color:#1a1a1a;
    letter-spacing: 0;
    text-align: center;
}

.divider__paragraph{
    font-weight: 500;
    font-size: 1.2rem;
    color: #1a1a1a;
    letter-spacing: 0;
    text-align: center;
    margin: 1em 0;
}

.divider__link{
    text-decoration: none;
}

.divider__button{
    font-weight: 500;
    font-size: 1.2rem;
    color: #1a1a1a;
    letter-spacing: 0;
    text-align: center;
    border: 3.5px solid #1a1a1a;
    line-height: 1.6rem;
    padding: 15px 35px;
    background-color: transparent;
    align-self: center;
    transition: .3s;
    cursor: pointer;
}

.divider__button:hover{
    color: white;
    background-color: black;
}

.end{
    width:800px;
    display:flex;
    margin: 100px auto;
    justify-content: center;
    
}

.end > img{
    border-radius: 50px;
    filter: grayscale(100%);
}


.footer{
    font-weight: 400;
    font-size: 1rem;
    color: #1a1a1a;
    letter-spacing: 0;
    text-align: center;
}

.footer__paragraph{
    margin: 1em 0;
    display: block;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    top:5px;
  
    margin: 0 10%;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  .supercontainer{
      display: flex;
      
      width:100%;
     
      
  }
  
  .form-decoration_h1{
      color: white;
  }
  
  .form-decoration_img{
      height:300px;
      width: 400px;
      
      
  }

  i{
    color: white;
    font-size: 10em;
    position:absolute;
    top: 35%;
    left:5%;
    
  }
  
  .form-decoration{
      width:40%;
      padding: 40px 10px;
      background-color: black;
  
  }
  
  /* Add styles to the form container */
  .form-container {
    padding: 10% 10%;
    background-color: white;
    width: 60%;
  }
  
  /* Full-width input fields */
  .form-container input[type=text],.form-container input[type=textarea] {
    width: 100%;
    padding: 20px 0;
    margin: 5px 0 22px 0;
    border: none;
    border-bottom:1px #ccc solid;
    background: white;
    font-size: 1rem;;
  }
  
  input::placeholder {
      opacity: 0.5;
      margin:0;
      padding: 0;
     
     
      
  }
  
  .form-container input[type=textarea]{
      resize:initial;
      height:150px;
     
      
  }
  
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=textarea]:focus  {
    outline: none;
    border-bottom:1px black solid;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    cursor: pointer;
    width: 150px;
    margin-bottom:10px;
    border: 3px black solid;
    font-weight: bold;
    
  }
  
  .cross{
      position: absolute;
      top: 10px;
      right: 10px;
      color: grey;
      font-weight: bold;
      font-size: 20px;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: white;
    border: none;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }



@media screen and (max-width: 800px)
{

    
    .container{
        margin: 0 auto;
        width: 90%;
        position: relative;
        top:40px;
        display:flex;
        flex-direction: column;
        justify-items: center;
    
    }

    .section{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        filter:grayscale(0%);
        transition: 0s;
    
       
    }

    .section__img{
        overflow: hidden;
        width:98%;
    
    }

    .section__text{
        width:98%;
        background: #fff;
        box-shadow: 0 15px 30px -10px rgb(0 0 0 / 10%);
        padding:20px;
    }

    .section__text-title{
        font-weight:bold;
        font-size:1.5rem;
        color: #1a1a1a;
        letter-spacing:0;
        line-height: 2rem;
        
    }
    
    .section__text-paragraph{
        font-weight: 400;
        font-size: 1.1rem;
        color: #1a1a1a;
        letter-spacing: 0;
        line-height: 2.4rem;
        
    }

    .end{
        width:100%;
        display:flex;
        margin-bottom: 40px;
        justify-content: center;
        
    }

    .end > img{
        border-radius: 50px;
        filter: grayscale(100%);
        overflow: hidden;
    }

    .main__h1{
        letter-spacing: 0;
        color: #1a1a1a;
        font-weight:700;
        font-size: 3rem;
        text-transform: uppercase;
        margin-top:40px;
    }

    .header{
   
        height:150px;
        display: flex;
        justify-content: none;
        flex-wrap: wrap;
        margin-bottom: 100px;
    
    }
    


}